<!DOCTYPE html>
<html lang="en">
<head>
  <title>Anjana Tiha</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">   
<h3>Table Data</h3>       
  <table class="table">
	{% block content2 %}
    <tbody>
		{% for row in search_string %}
			<tr>
				{% for item in row %}
				<td>{{item}}</td>
				{% endfor %}
			</tr>
		{% endfor %}
    </tbody>
	{% endblock %}
  </table>
</div>

</body>
</html>
